
input {
	display: none;
}

label {
	position: relative; /*надо чтобы круглишки не вылетали из контекста*/

	cursor: pointer;
	padding-left: 25px;
	padding-right: 15px;
}

label::before {
	position: absolute;

	display: inline-block;

	content: '';

	width: 16px;
	height: 16px;

	margin-right: 10px;

	left: 0;
	bottom: 0;

	background-color: #f6f6f6;

	border: 1px solid #bbbbbb;
	border-radius: 8px;
}

input:hover + label::before {
	background-color: #e8e8e8;
}

input:focus + label::before {
	border: 2px solid #5199db;
}

input:active + label::before {
	content: "\2022";

	text-align: center;

	font-size: 30px;
	line-height: 11px;

	background-color: #e8e8e8;
}

input:checked + label::before {
	content: "\2022";

	text-align: center;

	font-size: 30px;
	line-height: 11px;

	background-color: #f6f6f6;

}

input:disabled + label::before {
	background-color: #f6f6f6;
}
input:disabled + label {
	color: rgba(0, 0, 0, 0.425);
}
