
a {

    text-decoration: none;

    color: #303030;
}

a:hover {
    color: #3072C4;
}

.nav {
    display: inline-block;

    padding: 10px 40px;

    width: auto;
    border: 4px double;
}

li {
    display: inline-block;
    margin: 0 5px;
}

li::before {
    content: '♦';
    margin-right: 10px;
}

.active {
    font-weight: bolder;
}

.active::before {
    content: '';
}